KERNEL=="sd*", SUBSYSTEM=="block",	ACTION=="add",    RUN+="/sbin/automount.script"
KERNEL=="sd*",                      ACTION=="remove", RUN+="/sbin/automount.script"
